.list_container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0;
    width: 150px;
    height: 100px;
}

.list_container h2 {
    color: #8AB6D6;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2B2A4C;

}

.list_container p {
  color: #8AB6D6;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;

}